html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#experiment-browser {
  width: 100%;
  overflow: hidden;
}

.navbar-default {
  background-color: #41403B;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: rgba(255,255,255,0.85);
  padding: 2px 15px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: white;
}

.navbar {
  min-height: 0;
}

.navbar-brand {
  height: auto;
  font-size: 14px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: rgba(255,255,255,0.85);
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: white;
  background-color: #E5733D;
}

.my-box {
  width: 100%;
  height: 100%;
}

.my-box .my-row {
  width: 100%;
  overflow: auto;
}


.my-box .my-row.my-content {
  position: absolute;
  top: 24px;
  bottom: 0;
  background-color: white;
  padding: 5px
}

.my-box .my-row.my-content > * {
  float: left;
  height: 100%;
  padding: 5px;
  overflow: auto;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.my-box .my-row.my-content > #left,
.my-box .my-row.my-content > #right,
.my-box .my-row.my-content > #center {
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #F2F1EF;
}

.gutter {
  background: no-repeat 50%;
}

.gutter.gutter-horizontal {
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: ew-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.program-operations .panel,
.program-operations .panel-heading,
.program-operations .panel-default>.panel-heading {
  color: rgba(0,0,0,0.85);
  background-color: #F2F1EF;
}

.program-operations .panel {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.program-operations .run-button {
  float: right;
}

.program-operations .panel-title:before {
  content: '⚌ ';
  padding-right: 1.5rem;
}

.modelbrowser #model-title {
  display: inline;
}

.modelbrowser #heading {
  margin-bottom: 1rem;
}

.modelbrowser .actions {
  float: right;
}

.vertical-align {
  display: flex;
  align-items: center;
}

#projectpicker {
  width: 700px;
  margin: auto;
}

#projects {
  margin: 0;
  padding: 0;
}
.project {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 10px 10px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ddd;
  border-collapse: collapse;
}
.project a {
  width: 100%;
  display: block;
  color: #333;
}
.project a span {
  color: #666;
}
.project:first-child {
  border-width: 2px 0 1px 0;
}
.project:last-child {
  border-width: 1px 0 2px 0;
}

.picker-left h3 {
  margin: 0 0 10px 0;
}

.picker-right h1 {
  text-align: center;
  margin: 20px 0 50px 0;
}

/* ELEMENTS */

.glyphicon {
  padding-right: .5rem;
}

.btn-success {
  color: rgba(0,0,0,0.85);
  background-color: #FAAB82;
  border-color: #9e5d3f;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover{
  color: white;
  background-color: #f07743;
  border-color: #46291c;
}

.panel-default>.panel-heading {
  color: rgba(255,255,255,0.85);
  background-color: #41403B;
}

.lobipanel>.panel-heading {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.jstree-default .jstree-wholerow-clicked {
  background: #d27f54;
  background: -webkit-linear-gradient(top,#faab82 0,#d27f54 100%);
  background: linear-gradient(to bottom,#faab82 0,#d27f54 100%);
}

.jstree-clicked,
.jstree-default .jstree-clicked {
  color: white;
}