html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#experiment-browser {
  width: 100%;
  overflow: hidden;
}

.my-box {
  width: 100%;
  height: 100%;
}

.my-box .my-row {
  width: 100%;
  overflow: auto;
}


.my-box .my-row.my-content {
  position: absolute;
  top: 50px;
  bottom: 0px;

  background-color: white;
}

.my-box .my-row.my-content > * {
  float: left;
  height: 100%;
  padding: 5px;
  overflow: auto;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  background-color: #eee;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: ew-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.program-operations .panel,
.program-operations .panel-heading,
.program-operations .panel-default>.panel-heading {
  background-color: transparent;
  border: none;
}

.program-operations .panel {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.program-operations .run-button {
  float: right;
}

.program-operations .panel-title:before {
  content: '⚌ ';
  padding-right: 1.5rem;
}

.modelbrowser #model-title {
  display: inline;
}

.modelbrowser #heading {
  margin-bottom: 1rem;
}

.modelbrowser .actions {
  float: right;
}

.vertical-align {
  display: flex;
  align-items: center;
}